:root {
    --color-1: #8ECAE6;
    --color-2: #219EBC;
    --color-3: #022047;
    --color-4: #FFB703;
    --color-5: #d37a05;
    --color-blanco: #ffffff;
    --color-negro: #000;
}

* {
    margin: 0;
    font-family: Karla, sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100dvh;
    height: 100px;
    grid-template-rows: auto 1fr auto;
}

.navbar {
    padding: 1rem;
}

.navbar-nav .nav-link {
    color: var(--color-blanco);
    font-size: 18px;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

nav img {
    height: 5vh;
}

.navbar-nav .nav-link:hover {
    color: var(--color-5);
}

.btn:hover {
    background-color: #e6b800;
}
:focus {
    outline: 3px solid #088be2 !important; 
    outline-offset: 4px;
}       

.skip-link {
    position: absolute;
    top: -100px; 
    left: 10px;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    z-index: 2000;
    text-decoration: none;
    border: 2px solid #FFD700;
}

.skip-link:focus {
    top: 10px; 
}