* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

header h1 {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s;
}

nav ul li a:hover {
    color: #FB8500;
}

.logo img {
    width: 80px;
    height: auto;
}

.btn {
    background-color: #022047;
    color:#FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #e6b800;
}

.principal {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    background-image: url(../img/Vector.png);
    background-size: cover;
}

.text {
    padding: 5vh;
    margin-top: 15vh;
    width: 75%;
}

.text h1 {
    font-size: 48px;
    color: white;
}

.text p {
    font-size: 45px;
    color: white;
}

.text span {
    font-size: 45px;
    color: #FB8500;
    font-weight: bold;
}
