* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #8ECAE6;
    color: white;
    text-align: center;
}

.logo img {
    width: 80px;
    height: auto;
}

.btn {
    background-color: #022047;
    color:#FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #e6b800;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s;
}

nav ul li a:hover {
    color: #FB8500;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.form-container {
    padding: 5vh 0vw;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #022047;
}

.highlight {
    color: #FB8500;
}

.subtitle {
    text-align: center;
    color: #022047;
    font-size: 1.1em;
    opacity: 0.8;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.input-group {
    flex: 1 1 calc(50% - 10px);
    display: flex;
    flex-direction: column;
}

.input-group.full-width {
    flex: 1 1 100%;
}

label {
    font-weight: bold;
    font-size: 0.95em;
    color: #022047;
}

.required {
    color: #FB8500;
    font-size: 1.1em;
    margin-left: 2px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #FFB703;
    color: #022047;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}