/* PALETA DE COLORES */
:root {
  --white: #ffffff;
  --black: #171717;
  --primary: #022047;
  --secondary: #219EBC;
  --accent: #FB8500;
  --highlight: #FFB703;
  --background-light: #8ECAE6;
  --confirmacion: #34C759;
  --advertencia: #FFB703;
  --negacion: #FF383C;
}

/* PANTALLAS DE FORMA GENERAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 0 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

nav {
  min-height: 10vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}



h1,
h2,
p,
a {
  color: var(--white);
}

/* PANTALLAS ESPECÍFICAS */
/* Home */
.homeMain {
  background-image: url('/img/fondoHero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  width: 100%;
}

.hero {
  background-image: url('/img/vectorHero.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 18vh 0 0 7vw;
}

.hero .btn {
  background-color: var(--highlight);
}

.hero .btn:hover {
  background-color: var(--accent);
}

/* COMPONENTES */
/* Barra de navegación */
nav {
  background-color: #2B3035;
}

.nav-link {
  color: var(--white);
  font-size: 1rem;
}

.nav-link:hover {
  color: var(--highlight);
}

.nav-link::after {
  color: var(--white);
}

/* Footer */
footer {
  background-color: #2B2F33;
  color: var(--white);
  padding-top: 2rem;
}

/* Botón general */
.btn {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: '15px';
  box-shadow: '0 4px 6px rgba(0,0,0,0.1)';
}

.btn:hover {
  background-color: var(--highlight);
  color: var(--black);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* ACCESIBILIDAD */
html.high-contrast {
  filter: contrast(125%);
}

html.grayscale-mode {
  filter: grayscale(100%);
}

html.high-contrast.grayscale-mode {
  filter: contrast(125%) grayscale(100%);
}