/* Fondo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Imágenes pequeñas */
.imagenes_producto {
    transition: transform 0.3s;
}
/* Agranda imagenes al pasar el mouse por encima */
.imagenes_producto:hover {
    transform: scale(1.1);/*inimacion sea suave*/
}

/* para los botones */
.btn-primary, .btn-success {
    border-radius: 10px;
}

/* Cards evita la deformacion defino las alturas*/
.card img {
    height: 130px;
    object-fit: cover;
}

/* Media Queries */

/* Tablets */
@media (max-width: 992px) {
    .informacion_producto h2 {
        font-size: 1.4rem;
    }
}

/* Celulares */
@media (max-width: 576px) {
    .card {
        width: 100%;
    }

    .imagenes_producto {
        width: 60px;
    }

    .informacion_producto h2 {
        font-size: 1.2rem;
    }

    .informacion_producto p, .informacion_producto li {
        font-size: 0.9rem;
    }
}
